*{
  margin: 0;
  padding: 0;
}
.App nav {
  width: 100%;
  background: aliceblue;
  padding: 16px 32px;
}
.App nav a {
  margin-left: 10px;
  color: #ccc;
}

.App nav a.active{
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.products-container a{
  padding: 5px;
  display: inline-block;
  background: #ccc;
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}
.users-container a{
  margin: 0 5px;
  text-decoration: none;
}
